@page
@model FrameworkQ.ConsularServices.Web.Pages.SecuredPage
@{
    ViewData["Title"] = "Home";
}

<div style="text-align: center;">
    <h1 class="display-4">Welcome</h1>
    <p>This is the main page for the Consular Services application.</p>
</div>