@page
@model FrameworkQ.ConsularServices.Web.Pages.SecuredPage
<input type="hidden" name="station_id" id="station_id" value="@ViewBag.StationId" />
<div id="surveyContainer" style="text-align: center;">
</div>
<script type="text/javascript" src="@FrameworkQ.ConsularServices.Web.Utils.MakeVersionable("/js/main.js")" ></script>
<script type="text/javascript" src="@FrameworkQ.ConsularServices.Web.Utils.MakeVersionable("/js/admin.js")"></script>