@page
@model FrameworkQ.ConsularServices.Web.Pages.SecuredPage
<input type="hidden" name="user_id" id="user_id" value="@ViewBag.UserId" />
<div id="surveyContainer" style="text-align: center;">
</div>
<script type="text/javascript" src="/js/main.js?v=@DateTime.UtcNow.Ticks" ></script>
<script type="text/javascript" src="/js/admin.js?v=@DateTime.UtcNow.Ticks"></script>