@page
@model FrameworkQ.ConsularServices.Web.Pages.SecuredPage

<div id="surveyContainer" style="text-align: center;">
</div>
<script type="text/javascript" src="/js/main.js?v=@DateTime.UtcNow.Ticks" ></script>
<script type="text/javascript" src="/js/admin.js?v=@DateTime.UtcNow.Ticks"></script>