@page
@model FrameworkQ.ConsularServices.Web.Pages.SecuredPage

<div id="surveyContainer" style="text-align: center;">
</div>
<script type="text/javascript" src="/js/main.js"></script>
<script type="text/javascript" src="/js/admin_user.js"></script>