@{
    ViewData["Title"] = "Login";
}

<div id="surveyContainer" style="text-align: center;">
</div>
<script type="text/javascript" src="@FrameworkQ.ConsularServices.Web.Utils.MakeVersionable("/js/main.js")" ></script>
<script type="text/javascript" src="@FrameworkQ.ConsularServices.Web.Utils.MakeVersionable("/js/login.js")"></script>
